<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <label><b>user name:</b></label>
        <strong><%=user.name%></strong>
    </br>
        <label><b>user email:</b></label>
        <strong><%=user.email%></strong>
    </br>
        <a href="/" class="btn btn-success">HOME</a>
    </div>
</body>
</html>